.ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 15px;
    margin-top: 0px;
    font-size: 25px;
}

.li{
    margin-left: 30px;
}

.li:hover{
    transition: 0.3s ease;
    color: cyan ;
    transform: scale(1.02);
}

.listra{
    border: 1px solid cyan;
    margin: 12px;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
}

.titulo{
    display: flex;
    margin-left:15px ;
}
.p{
    text-align: center;
    color:darkgrey;
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
}

.nome{
    display: flexbox;
    align-items: center;
    margin-top: 35px;
    margin-left: 15px;
}

.full{
    margin-top: 25px;
    border: 1px solid green;
}
