.container {
  padding: 30px;
  margin: 20px;
  border-radius: 15px;
  background-color: #f5f5f5;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: rgb(51, 49, 49);
}

.lista {
  list-style-type: none;
  padding: 0;
}

.item {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item p {
  margin: 6px 0;
  line-height: 1.5;
  color: lightblue;
}

.item a {
  color: #00bfff;
  text-decoration: none;
}

.item a:hover {
  text-decoration: underline;
}
