:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0px;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #0f172a, #1e3a8a, #2563eb);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.hahai{
  text-align: center;
}

.l{ 
    border: 1px solid cyan;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 2px;
}
